/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* This is ignored because dark mode is forced. */
:root {
  --ifm-color-primary: #E3963E;
  --ifm-color-primary-dark: #CC8335;
  --ifm-color-primary-darker: #B3712D;
  --ifm-color-primary-darkest: #8F5924;
  --ifm-color-primary-light: #E59F46;
  --ifm-color-primary-lighter: #E7AB55;
  --ifm-color-primary-lightest: #EDBF7E;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* always used */
[data-theme='dark'] {
  --ifm-color-primary: #E3963E;
  --ifm-color-primary-dark: #CC8335;
  --ifm-color-primary-darker: #B3712D;
  --ifm-color-primary-darkest: #8F5924;
  --ifm-color-primary-light: #E59F46;
  --ifm-color-primary-lighter: #E7AB55;
  --ifm-color-primary-lightest: #EDBF7E;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}