name: CI google-cloud

# google-cloud depends on issuer+verifier
on:
  pull_request:
    branches: ["main"]
    paths:
      - google-cloud/**

jobs:
  core:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10.11.0
          run_install: false

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run format
        run: |
          pnpm --filter ...@trustknots/google-cloud format
      - name: Run lint
        run: |
          pnpm --filter ...@trustknots/google-cloud lint

      - name: Build
        run: pnpm --filter ...@trustknots/google-cloud... build
